.whole-page {
  padding: 1rem 20rem;
  background-color: rgb(240, 240, 240);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 25vw;
  gap: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option {
  display: flex;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(220, 220, 220);
  background-color: white;
  padding: 0.5rem 1.5rem;
}
