* {
  margin: 0;
  padding: 0;
}

#App {
  background-color: rgb(230, 230, 230);
}

#Details {
  background-color: white;
  padding: 2rem 2rem;
}

#order-time {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

span {
  color: rgb(26, 166, 221);
}

.status {
  color: orange;
}

p,
li {
  font-size: 0.8rem;
}

main {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
}

#products {
  padding: 0.5rem 1rem;
  border: 2px solid rgb(230, 230, 230);
  border-radius: 0.25rem;
}

#product-name {
  display: flex;
  gap: 0.5rem;
}

table tr td {
  padding: 1rem 2rem;
  vertical-align: top;
  font-size: 0.8rem;
  font-weight: bold;
}

img {
  width: 3rem;
  height: 3rem;
}

li {
  list-style: none;
}

#total-price ul li:last-of-type {
  font-weight: bold;
}

#total-price {
  display: flex;
  justify-content: space-between;
}

#options {
  display: flex;
  justify-content: space-between;
  gap: 33.5vw;
  align-items: center;
}

#selling-documents {
  display: flex;
  gap: 1rem;
}

button {
  background-color: white;
  border: 2px solid rgb(26, 166, 221);
  border-radius: 2rem;
  padding: 0.25rem 1.5rem;
  color: rgb(26, 166, 221);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: red;
}

a::after {
  color: red;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  border-radius: 0.25rem;
  background-color: rgb(245, 245, 245);
  padding: 0.75rem;
  line-height: 2;
}

.shipping-info {
    margin-right: 2rem;
}

@media (max-width: 768px) {
    #App {
        padding: 1rem 2rem;
    }

    #Details {
        padding: 2rem 1rem;
    }

    #order-time p:last-of-type {
        visibility: hidden;
    }

    main, #options {
        flex-direction: column;
    }

    main {
        align-items: stretch;
    }
}